<ion-header>
  <ion-toolbar>
    <ion-title>Anus</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explicando</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/anus.jpg">
      O ânus é um orifício na extremidade inferior do intestino. O canal anal é o tubo que liga a parte inferior do intestino grosso ao ânus e à parte externa do corpo. À medida que o alimento é digerido, ele passa do estômago para o intestino delgado, e em seguida, para o intestino grosso.
    </ion-card-content>
  </ion-card>
</ion-content>
