<ion-header>
  <ion-toolbar>
    <ion-title>Estomago</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Estomago explicado</ion-card-title>
    <img src="assets/img/estomago.jpg">
    </ion-card-header>
    <ion-card-content>
      O estômago é um dos órgãos que integram o tubo digestivo. É caracterizado como uma bolsa de paredes musculosas.
Em humanos, localiza-se na cavidade abdominal, entre o esôfago e o intestino delgado.
É no estômago que ocorre uma importante etapa do processo digestivo. Nele, existem glândulas que produzem o suco gástrico, responsável por envolver os alimentos em digestão e transformar o bolo alimentar em quimo.

      <ion-title>Anatomia e Histologia</ion-title>
      Anatomicamente, o estômago é dividido em quatro partes: cárdia, fundo, corpo e piloro.
      <ion-title>Cárdia</ion-title>
Corresponde a transição entre esôfago e estômago. Nessa região existem glândulas secretoras de muco.
A porção da cárdia recebe esse nome porque fica muito próxima ao coração, separada dele somente pelo diafragma
      <ion-title>Fundo e Corpo</ion-title>
O fundo corresponde a curvatura superior do estômago. O corpo situa-se entre o antro pilórico e o fundo e compreende cerca de ⅔ do volume total do estômago.
O fundo e o corpo são responsáveis por secretar suco gástrico e muco.
      <ion-title>Piloro</ion-title>
Situa-se na porção inferior do estômago. O piloro é caracterizado por uma válvula muscular que faz a comunicação entre o estômago e o intestino delgado.
O piloro regula a passagem do bolo alimentar, impedindo que passe prematuramente ao intestino delgado. O relaxamento de sua musculatura permite a passagem do conteúdo estomacal para o duodeno.
      <img src="assets/img/estomago2.jpg">
Histologicamente, a parede do estômago é revestida por epitélio produtor de muco. A mucosa gástrica é recoberta por uma camada de muco para sua proteção contra as agressões do suco gástrico, que é bastante corrosivo por ser ácido.
O epitélio do estômago sofre invaginações, denominadas de fossetas gástricas, onde são encontradas as glândulas. Enquanto isso, a parte muscular do estômago é composta por células musculares lisas.
    </ion-card-content>
 </ion-card>
</ion-content>
