<ion-header>
  <ion-toolbar>
    <ion-title>Intestino Grosso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explicando</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/intestinoGro.jpg">
      O intestino grosso é um órgão que faz parte do sistema digestório. É o local de absorção da água, tanto a ingerida, quanto a das secreções digestivas e de alguns nutrientes que o intestino delgado não assimilou. Nele, também acontece o armazenamento e eliminação dos resíduos da digestão.       
                                                                         <!--Caracteres invisíveis a esquerda-->
      <ion-title>Anatomia do Intestino Grosso</ion-title>
      <img src="assets/img/intestinoGro4.jpg">
      O intestino grosso mede cerca de 1,5 m de comprimento e 6 cm de diâmetro. É composto por três partes: o ceco, o cólon e o reto.
      <ion-title>Ceco</ion-title>
      Tem a forma de um saco com cerca de 5 cm, é a primeira parte do intestino grosso, onde os resíduos alimentares, já constituindo o bolo fecal, passam ao cólon.
      <ion-title>Cólon</ion-title>
      É a maior parte do intestino grosso. Se subdivide em 4 partes: o cólon ascendente, o cólon transverso o cólon descendente e a curva sigmoide.
Quando o alimento chega ao cólon descendente, o bolo fecal permanece estagnado por muitas horas, preenchendo as porções da curva sigmoide e o reto.
As fibras vegetais não são digeridas nem absorvidas pelo sistema digestivo, passam por todo tubo digestivo e formam uma porcentagem significativa da massa fecal.
Glândulas da mucosa do intestino grosso, secretam muco, que lubrifica o bolo fecal, facilitando seu trânsito e sua eliminação.
A parte terminal do intestino grosso possui tecidos produtores de células que atuam na defesa do organismo.
      <ion-title>Reto</ion-title>
      É a parte final do intestino grosso, e termina com o canal anal que se comunica com o exterior através do ânus, por onde são eliminados os resíduos fecais.
O esfíncter é um músculo localizado ao redor do ânus, que controla a passagem das fezes.
                                                                         <!--Caracteres invisíveis a esquerda-->
      <ion-title>Doenças do Intestino Grosso</ion-title>
      No intestino grosso é muito frequente a incidência de câncer. A doença começa benigna e nesse período é possível ser curada, impedindo sua degeneração e consequente transformação em tumor maligno.
      <ion-title>diverticulite</ion-title>
      A diverticulite é uma inflamação de um divertículo (pequenas bolsas que se projetam para fora da parede intestinal). Na maioria dos casos os divertículos se localizam no cólon sigmoide. Quando inflamados podem formar pus, se romper e infeccionar todo abdome.
      <ion-title>colite ulcerosa</ion-title>
      A colite ulcerosa é uma doença inflamatória do cólon, caracterizada por úlceras cronicas ou feridas abertas.

    </ion-card-content>
  </ion-card>
</ion-content>
