<ion-header>

  <ion-toolbar>
      <ion-title>Vamos Reforçar!!</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <ion-img *ngIf="imagem && imagem.trim().toUpperCase() != 'SEM'" [src]="imagem.includes('gif')?'assets/imagens/feedback/'+imagem+'.gif':'assets/imagens/feedback/'+imagem+'.png'" ></ion-img>
  <small *ngIf="legenda!=undefined && legenda!='SEM'">{{legenda}}</small>
  <div style="margin-left: 10px; margin-right: 10px;"><h5 style="text-align: justify" [innerHTML]="texto"></h5></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button color="warning" expand="block" (click)="continuar()">
          <ion-icon name="rocket-outline"></ion-icon>&nbsp;&nbsp;Continuar
      </ion-button>
     
  </ion-toolbar>
</ion-footer>