<ion-header>

    <ion-toolbar color="light">
        <ion-title color="success" slot="end">{{totalPontos}} BioPontos</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <div class="fundos">

        <h3>{{questao.enunciado}}</h3>
        <div class="boxImg">
            <img style="width: 100%" *ngIf="questao.imagem != ''" [src]="questao.imagem" />
        </div>
        <br/>
        <div style="text-align: center">

        </div>

        <div style="text-align: center">
            <span *ngFor="let par of pares">
      <button style="margin: 5px;border-radius: 10px" [disabled]="par.desabilitar" class="botaoPares" (click)="botaoPrecionadoNovo(par)" [ngStyle]="{'background-color': par.corBorda}" id="close-image"> <div *ngIf="par.imagem != ''" class="boxImg"><img *ngIf="par.imagem != ''" [src]="par.imagem"/></div><h5>{{par.descricao}}</h5></button>
    </span>

        </div>




    </div>
    <br/>


</ion-content>
<ion-footer>
    <ion-toolbar>
       <!--  <ion-button color="success" expand="block" (click)="verificar()">
            <ion-icon name="checkmark-done-outline"></ion-icon>&nbsp;&nbsp;Verificar
        </ion-button> -->
    </ion-toolbar>
</ion-footer>