<ion-header>
  <ion-toolbar>
    <ion-title>Esôfago</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explicando</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/esofagos.jpg">
      O esôfago é um órgão que faz parte do sistema digestório, mantendo a comunicação entre a faringe e o estômago. Esse órgão musculoso realiza movimentos que garantem que o alimento chegue até o estômago para dar continuidade ao processo de digestão. Inflamações nesse órgão são chamadas de esofagites e podem provocar dor e dificuldade para engolir.
                                                        <!--caracteres invisiveis na esquerda-->
      <ion-title>Características do esôfago</ion-title>
      <img src="assets/img/esofago2.jpg">
      O esôfago é um tubo musculoso que se estende da faringe até o estômago, apresentando um tamanho aproximado de 25 centímetros. Esse órgão está localizado posteriormente à traqueia e anteriormente à coluna vertebral; passa através do diafragma, em frente à artéria aorta, e desemboca no estômago.

Costuma-se distinguir três porções no esôfago: cervical, torácica (a maior) e abdominal. Alguns autores reconhecem, ainda, uma porção denominada diafragmática, que atravessa o diafragma para atingir o abdome.

O órgão apresenta mucosa revestida por um epitélio pavimentoso estratificado não queratinizado. É possível observar também a presença de glândulas secretoras de muco. Na lâmina própria da região próxima do estômago, existem as glândulas esofágicas da cárdia. Já na submucosa, estão as glândulas esofágicas, as quais liberam um muco que possui a importante função de proteger a mucosa e facilitar o transporte do alimento em direção ao estômago.


    </ion-card-content>
  </ion-card>
</ion-content>
