<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-title style="font-size: 30px; color:green; text-align:center;">BioMais</ion-title>
    <br>
    <br>
  </ion-card-header>
  <ion-title style=" text-align: center">RESUMO</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    O BioMais é um aplicativo educativo voltado para o aprendizado da anatomia e fisiologia do corpo humano, que compreende os sistemas: digestório, circulatório, respiratório, urinário, reprodutor, esquelético, muscular, nervoso, sensorial e endócrino. Nessa versão você encontra um game em formato quizz, composto por questões com textos, imagens e GIFs animados; explicações para cada questão; materiais teóricos de revisão e muito mais!
  </ion-card-content>

  <ion-title style=" text-align: center">HISTÓRIA</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    O BioMais foi idealizado e elaborado, em sua primeira versão, como objeto de estudo na pesquisa de mestrado da pesquisadora Caroline Oenning de Oliveira, sob orientação da professora Drª Marcia Regina Royer (ambas da área de Biologia), no curso de Mestrado em Ensino: formação docente interdisciplinar, da Universidade Estadual do Paraná – Campus de Paranavaí, entre os anos de 2016 e 2018. Para sua criação e, sobretudo, a programação do app, foi de fundamental importância a colaboração dos professores Me. Frank Willian Cardoso de Oliveira e Drª Daniela Eloíse Flôr, do colegiado de Informática do Instituto Federal do Paraná – Campus de Paranavaí.<br><br>
    Assim, no ano de 2017, o BioMais já se encontrava disponível na plataforma Google Play Store, de forma livre a gratuita, contando com o game em formato quizz, no qual continha disponíveis cinco eixos temáticos: sistema digestório, sistema cardiovascular, sistema respiratório, sistema urinário e sistema reprodutor. Esta versão foi explorada e validada com discentes da Educação Básica e graduandos em Ciências Biológicas (licenciatura), dando origem aos resultados da dissertação de mestrado da pesquisadora.<br><br>
    No ano de 2019, a pesquisadora e idealizadora inicial do software BioMais, Caroline Oenning de Oliveira, ingressou no curso de doutorado em Educação para a Ciência e Matemática da Universidade Estadual de Maringá – UEM, sob orientação do professor Dr. André Luís de Oliveira. Foi durante a pandemia pela Covid-19, perante às necessidades de reformulações de planos e propósitos ao final do ano de 2020, que surgiu um novo projeto de doutoramento, tendo como foco a reestruturação e utilização do software BioMais como foco da pesquisa e objeto de estudo no processo de formação inicial de professores de Ciências e Biologia.<br><br>
    A nova versão do BioMais, propõe uma reestruturação e inserção de novos eixos temáticos no game em formato quizz, integralizando os sistemas: digestório, circulatório, respiratório, urinário, reprodutor, esquelético, muscular, nervoso, sensorial e endócrino. Além disso, também propõe novas funcionalidades: materiais teóricos de revisão, que compõem uma nova aba do software denominada Teoria, composta de textos e imagens explicativos, para cada um dos sistemas do corpo humano; novos mecanismos de gamificação (jogabilidade) e recursos.<br><br>
    Os envolvidos no desenvolvimento do BioMais, inicialmente se constituíram da pesquisadora (Caroline Oenning de Oliveira), orientadora de mestrado (Marcia Regina Royer) e professores colaboradores da área de Informática (Frank Willian Cardoso de Oliveira e Daniela Eloíse Flôr) e, atualmente, para a nova versão, também integram o orientador de doutorado (André Luís de Oliveira) e discentes desenvolvedores de software (Gabriel da Silva de Oliveira, Gustavo Orelio e João Pedro Ferreira de Souza).
  </ion-card-content>

  <ion-title style="font-size: 30px; color:green; text-align:center;">MEMBROS</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center">Pesquisadora</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center">Caroline Oenning de Oliveira</ion-title>
  <br>
  <br>
  <img src="assets/imagens/1.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduada em Ciências Biológicas pela Universidade Estadual do Paraná – UNESPAR / Campus de Paranavaí (2016) e graduanda em Pedagogia pelo Centro Universitário Internacional – UNINTER, Especialista em Auditoria, Perícia e Educação Ambiental pelo Centro Universitário UniFATECIE (2016), Mestre em Ensino: Formação Docente Interdisciplinar (2018) pela Universidade Estadual do Paraná – UNESPAR / Campus de Paranavaí e doutoranda em Educação para a Ciência e Matemática na Universidade Estadual de Maringá – UEM / Campus sede.<br>
    <strong>Currículo Lattes</strong>:<br> http://lattes.cnpq.br/8829125369662508<br>
    <strong>Orcid</strong>:<br> https://orcid.org/0000-0002-2111-8062<br>
    <strong>Contato</strong>:<br>oenningcaroline@hotmail.com 
  </ion-card-content>
  <br>
  <ion-title style=" text-align: center; font-size: 17px;">Orientadora da pesquisa </ion-title>
  <ion-title style=" text-align: center; font-size: 17px;">(Mestrado em Ensino: formação </ion-title>
  <ion-title style=" text-align: center; font-size: 17px;">docente interdisciplinar)</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center">Marcia Regina Royer</ion-title>
  <br>
  <br>
  <img src="assets/imagens/2.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduada em Ciências Biológicas (1996), Mestre em Agronomia – Melhoramento Genético Vegetal (1999) e Doutora em Agronomia - Melhoramento Genético Vegetal (2004), ambos pela Universidade Estadual de Maringá – UEM / Campus sede. Professora do Colegiado de Ciências Biológicas e do Mestrado em Ensino: Formação Docente Interdisciplinar da Universidade Estadual do Paraná -UNESPAR - Campus Paranavaí.<br>
    <strong>Currículo Lattes</strong>:<br> http://lattes.cnpq.br/7072099675401478<br>
    <strong>Orcid</strong>:<br> https://orcid.org/0000-0002-6369-9440<br>
    <strong>Contato</strong>:<br>marciaroyer@yahoo.com.br
  </ion-card-content>
  <br>
  <ion-title style=" text-align: center; font-size: 17px;">Orientador da pesquisa </ion-title>
  <ion-title style=" text-align: center; font-size: 17px;">(Doutorado em Educação para</ion-title>
  <ion-title style=" text-align: center; font-size: 17px;">a Ciência e a Matemática)</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center">André Luís de Oliveira</ion-title>
  <br>
  <br>
  <img src="assets/imagens/3.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduado em Ciências pela Universidade Estadual de Maringá – UEM / Campus sede (2001), Especialista em Educação, Planejamento e Gerenciamento do Meio Ambiente pela Faculdade de Filosofia, Ciências e Letras de Campo Mourão – FECILCAM (2003), Mestre em Educação para a Ciência e o Ensino de Matemática (2006) e Doutor em Educação para a Ciência e o Ensino de Matemática (2013), ambos pela Universidade Estadual de Maringá – UEM / Campus sede. Professor do Colegiado de Ciências Biológicas e do Mestrado e Doutorado em Educação para a Ciência e o Ensino de Matemática, ambos na Universidade Estadual de Maringá – UEM / Campus sede. <br>
    <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/2543491078465374<br>
    <strong>Orcid</strong>:<br>https://orcid.org/0000-0002-9168-4035<br>
    <strong>Contato</strong>:<br>aloprof@gmail.com
  </ion-card-content>
  <br>
  <ion-title style=" text-align: center; font-size: 17px;">Orientadores do Desenvolvimento</ion-title>
  <ion-title style=" text-align: center; font-size: 17px;"> do Software</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center; font-size: 17px;">Frank Willian Cardoso de Oliveira</ion-title>
  <br>
  <br>
  <img src="assets/imagens/4.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduado em Sistemas de Informação pela Universidade Paranaense – UNIPAR / Campus Paranavaí (2010), Especialista em Desenvolvimento de Sistema para Web pela Universidade Estadual de Maringá – UEM (2013) e Mestre em Desenvolvimento de Tecnologia pelo Instituto LACTEC (2018). Professor do Ensino Básico, Técnico e Tecnológico do Instituto Federal do Paraná – IFPR, Campus de Paranavaí.<br>
    <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/8097315991149792<br>
    <strong>Orcid</strong>:<br>https://orcid.org/0000-0003-1290-1810<br>
    <strong>Contato</strong>:<br>frank.willian@ifpr.edu.br
  </ion-card-content>
  <br>
  <br>
  <ion-title style=" text-align: center">Daniela Eloise Flôr</ion-title>
  <br>
  <br>
  <img src="assets/imagens/5.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduada em Ciência da Computação pela Universidade Paranaense – UNIPAR / Campus de Paranavaí (1998), Especialista em Docência da Educação Profissional, Técnica e Tecnológica pelo Instituto Federal do Paraná – IFPR (2016), Mestre em Ciência da Computação pela Universidade Federal de Santa Catarina – UFSC (2001) e Doutora em Computação Aplicada pelo Instituto Nacional de Pesquisas Espaciais – INPE (2008). Professora do Ensino Básico, Técnico e Tecnológico do Instituto Federal do Paraná-IFPR, Campus Paranavaí. <br>
    <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/7560936930373791<br>
    <strong>Orcid</strong>:<br>https://orcid.org/0000-0003-0977-3387<br>
    <strong>Contato</strong>:<br>daniela.flor@ifpr.edu.br
  </ion-card-content>
  <br>
  <ion-title style=" text-align: center">Desenvolvedores</ion-title>
  <br>
  <br>
  <ion-title style=" text-align: center">Gabriel da Silva de Oliveira</ion-title>
  <br>
  <br>
  <img src="assets/imagens/6.jpg" alt="">
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    <strong>Biografia</strong>: Graduação em andamento em Engenharia de Software pelo Instituto Federal do Paraná (IFPR) – Campus de Pananavaí<br>
    <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/5746477192109376<br>
    <strong>Contato</strong>:<br>gabrielsilvao10@gmail.com
  </ion-card-content>
<br>
<br>
<ion-title style=" text-align: center">Gustavo Orelio</ion-title>
<br>
<br>
<img src="assets/imagens/7.jpg" alt="">
<ion-card-content style="text-align : justify; font-size: 15.5px;">
  <strong>Biografia</strong>: Graduação em andamento em Engenharia de Software pelo Instituto Federal do Paraná (IFPR) – Campus de Pananavaí<br>
  <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/9188886472326394<br>
  <strong>Contato</strong>:<br>oreliogustavo@gmail.com
</ion-card-content>
<br>
<br>
<ion-title style=" text-align: center">João Pedro Ferreira de Souza</ion-title>
<br>
<br>
<img src="assets/imagens/jp.jpg" alt="">
<ion-card-content style="text-align : justify; font-size: 15.5px;">
  <strong>Biografia</strong>: Graduação em andamento em Engenharia de Software pelo Instituto Federal do Paraná (IFPR) – Campus de Pananavaí<br>
  <strong>Currículo Lattes</strong>:<br>http://lattes.cnpq.br/5391573653927627<br>
  <strong>Contato</strong>:<br>jpfsouza99@gmail.com<br>
  <strong>Discord</strong>:<br>souza99#1301
</ion-card-content>
<br>
<br>
<ion-title style=" text-align: center;font-size: 17px; color: green;">CREDITO DE USO DE IMAGENS</ion-title>
<ion-card-content style="text-align : justify; font-size: 15.5px;">
  As imagens utilizadas nas interfaces de perguntas e respostas (quizz) e nos conteúdos teóricos abordados no aplicativo encontram-se devidamente referenciadas no local de sua inserção, envolvendo, sobretudo, materiais Freepik.com e imagens com licença Creative Commons.<br><br>
  Os créditos das imagens onde impossibilitou-se conferir atribuição, tais como ícone do aplicativo e imagens de capa na abertura dos conjuntos de sistemas (eixos temáticos), são oriundas do banco de imagens Freepik.com <a href="https://www.freepik.com/home">(www.freepik.com)</a>
</ion-card-content>
<br>
<br>
<img src="assets/imagens/9.jpg" alt="">
<br>
<br>
<ion-title style=" text-align: center; font-size: 17px;">Coordenação de Aperfeiçoamento de</ion-title>
<ion-title style=" text-align: center; font-size: 17px;">Pessoal de Nível Superior</ion-title>
<br>
<br>
<img src="assets/imagens/10.jpg" alt="">
<br>
<br>
<img src="assets/imagens/11.jpg" alt="">
<ion-title style=" text-align: center; font-size: 17px;">Universidade Estadual de Maringá</ion-title>
<br>
<br>
<img src="assets/imagens/12.jpg" alt="">
<br>
<br>
<ion-title style=" text-align: center; font-size: 17px;">Campus de Paranavaí</ion-title>
<br>
<br>
<img src="assets/imagens/13.jpg" alt="">
<br>
<br>
<ion-title style=" text-align: center; font-size: 17px;">Mestrado em Ensino:</ion-title>
<ion-title style=" text-align: center; font-size: 17px;">Formação Docente Interdisciplinar</ion-title>
<br>
<br>
<img src="assets/imagens/14.jpg" alt="">
<br>
<br>
<ion-title style=" text-align: center; font-size: 17px;">Programa de Pós Graduação</ion-title>
<ion-title style=" text-align: center; font-size: 17px;">em Educação para a Ciência </ion-title>
<ion-title style=" text-align: center; font-size: 17px;">e a Matemática</ion-title>
<br>
<br>
<img src="assets/imagens/15.jpg" alt="">
<br>
<br>
<ion-title style=" text-align: center; font-size: 17px;">Programa Institucional de Bolsa </ion-title>
<ion-title style=" text-align: center; font-size: 17px;">de Iniciação à Docência – PIBID </ion-title>
<ion-title style=" text-align: center; font-size: 17px;">Subprojeto de Biologia </ion-title>
</ion-card>

</ion-content>