<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o aplicativo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-title style="font-size: 30px; color:green; text-align:center;">BioMais</ion-title>
  </ion-card-header>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    O BioMais é um App voltado ao aprendizado dos sistemas do Corpo Humano, na qual são abrangidos conceitos de
    Anatomia e Fisiologia Humana em formato de game. Com ele, você responderá perguntas em seis padrões distintos
     e acumula pontos a cada acerto, além de receber recompensas por acertos consecutivos e feedbacks quando erra!
  </ion-card-content>

  <ion-title style="font-size: 30px; color:green; text-align:center;">Pesquisadora</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • Caroline Oenning - oenningcaroline@hotmail.com
  </ion-card-content>

  <ion-title style="font-size: 30px; color:green; text-align:center;">Desenvolvedores</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • Gabriel da Silva de Oliveira - gabrielsilvaol10@gmail.com 
  </ion-card-content>

  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • Gustavo Orelio - oreliogustavo@gmail.com
  </ion-card-content>

  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • João Pedro Ferreira de Souza - jpfsouza99@gmail.com
  </ion-card-content>

  <ion-title style="font-size: 30px; color:green; text-align:center;">Coordenadores</ion-title>
  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • Frank Willian Cardoso de Oliveira - 
  </ion-card-content>

  <ion-card-content style="text-align : justify; font-size: 15.5px;">
    • Daniela Eloise Flôr - daniela.flor@ifpr.edu.br
  </ion-card-content>
</ion-card>

</ion-content>