<ion-header>
  <ion-toolbar>
    <ion-title>Faringe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre a Faringe</ion-card-title>
      <img src="assets/img/faringe.jpg">
    </ion-card-header>

    <ion-card-content>
      Esse órgão é comum ao sistema digestório e respiratório,além de ser um canal muscular membranoso, que se comunica com o nariz e a boca, abrindo-se em direção à traqueia e ao esôfago. O bolo alimentar segue da faringe para o esôfago.
      <ion-title>Anatomia da Faringe</ion-title>
      <img src="assets/img/faringeIntegrada.jpg">
      É um tubo, cujas paredes são musculosas e revestidas de mucosa. Ela está localizada na altura da garganta, à frente de vértebras cervicais, fixada na base do crânio. Pode ser dividida em três regiões: orofaringe, nasofaringe e laringofaringe.
      <ion-title>Nasofaringe</ion-title>
      A parte superior da faringe se comunica com as cavidades do nariz, através das coanas, e com as orelhas médias, pela tuba auditiva de cada lado.
      <ion-title>Orofaringe</ion-title>
      A região orofaríngea é intermediária entre as outras regiões. Comunica-se com a abertura da boca através de uma região denominada istmo das fauces.
      <ion-title>Laringofaringe</ion-title>
      Mais inferior é a região laringofaríngea, que se comunica com a entrada da laringe (no sistema respiratório) e mais abaixo com a abertura do esôfago (no sistema digestório).

    </ion-card-content>
  </ion-card>

</ion-content>
