<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
    <ion-title>
      Material para estudo
    </ion-title>
    <ion-icon style="margin-right: 15px;" color="warning" name="trophy-sharp"size="large"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="chamardiGestorio()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="secondary" >
        <img src="assets/imagensCorpo/Gaveta digestório.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Digestório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarcirCulatorio()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="warning" >
        <img src="assets/imagensCorpo/Gaveta circulatório.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Circulatório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarRespiratorio()">  
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="success" >
        <img src="assets/imagensCorpo/Gaveta respiratório.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Respiratório</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarUrinario()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="primary">
        <img src="assets/imagensCorpo/Gaveta urinário.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Urinário</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarReprodutor()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="danger">
        <img src="assets/imagensCorpo/Gaveta reprodutor.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Reprodutor</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarMuscular()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="medium" >
        <img src="assets/imagensCorpo/Gaveta muscular.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Muscular</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarEndocrino()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="dark">
        <img src="assets/imagensCorpo/Gaveta endócrino.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Endócrino</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarNervoso()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="tertiary">
        <img src="assets/imagensCorpo/Gaveta nervoso.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Nervoso</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarEsqueletico()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="light">
        <img src="assets/imagensCorpo/Gaveta esquelético.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Sistema Esquelético</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="chamarSentidos()">
    <ion-card-header>
      <ion-fab-button style="float: left;" size="small" fab-fixed color="light">
        <img src="assets/imagensCorpo/Gaveta os sentidos.png" width="30">
      </ion-fab-button>
      <h2><ion-icon style="float: right;" name="chevron-forward-sharp"></ion-icon></h2>
      <ion-card-title>Os sentidos</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>