<ion-header  [translucent]="true">
  <ion-toolbar >
    <ion-title color="dark" slot="start">
      Loja de pontos
    </ion-title>

    <ion-title color="dark" slot="end">
      50
    <ion-icon name="body"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row></ion-row>

<ion-grid>   <!-- Botão pra alterar as cores -->
    <ion-button (click)="alteradorCores()" style="height: 45px;" expand="block" color="success">   
      <ion-label style="padding-right:75%;">Cores</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
    

    <ion-col></ion-col> <!-- Serve para dar espaço entre os cards -->


  <ion-row>
    <ion-col>
      <ion-button style="height: 45px;" expand="block" color="tertiary">
          <ion-label style="padding-right:45%;">Ícone</ion-label>
          <ion-icon name="leaf-sharp"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button style="height: 45px;" expand="block" color="dark">
          <ion-label style="padding-right:45%;">Áudio</ion-label>
          <ion-icon color="light" name="volume-mute"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-card>
    <ion-item color="medium">
      <ion-label>Tema</ion-label>
      <ion-icon name="sunny"></ion-icon>
      <ion-toggle color="dark"></ion-toggle>
      <ion-icon name="sunny-outline"></ion-icon>
    </ion-item>
  </ion-card>

<ion-col></ion-col>

  <ion-card>
    <ion-item color="danger">
      <ion-label>Desbloquear Segredo</ion-label>
      <ion-icon name="lock-closed" color="warning"></ion-icon>
    </ion-item>
  </ion-card>

</ion-grid>

<ion-col></ion-col>

<ion-grid> <!-- icones -->
  <ion-row nowrap>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success" (click)="alertaPrimata()">
        <img src="assets/icon/primata.png" width="35">
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <img src="assets/icon/austrolapiteco.png" width="25">
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <img src="assets/icon/homo_habilis.png" width="25">
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <img src="assets/icon/homo_erectus.png" width="30">
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <img src="assets/icon/homo_sapiens.png" width="28">
      </ion-fab-button>
    </ion-col>

  </ion-row>


  <ion-row nowrap> <!-- icones 2 -->

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <ion-icon color="dark" name="leaf"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <ion-icon color="dark" name="bug"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <ion-icon color="dark" name="fish"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <ion-icon color="dark" name="nutrition"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button size="large" fab-fixed color="success">
        <ion-icon color="dark" name="paw"></ion-icon>
      </ion-fab-button>
    </ion-col>

  </ion-row>
</ion-grid>



</ion-content>