<ion-header>
  <ion-toolbar>
    <ion-title>Intestino Delgado</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Explicando</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/intestinoDel.jpg">
      Intestino delgado é uma parte do tubo digestório médio, situado entre o estômago e o intestino grosso. O tamanho do intestino delgado é de aproximadamente 5 metros de comprimento.
                                                  <!--Caracteres invisíveis a esquerda-->
      <ion-title>Função do Intestino Delgado</ion-title>
      É no intestino delgado que ocorre a maior parte da digestão dos nutrientes, bem como a sua absorção, ou seja, a assimilação das substâncias nutritivas.
      <ion-title>Anatomia</ion-title>
      É no intestino delgado que ocorre a maior parte da digestão dos nutrientes, bem como a sua absorção, ou seja, a assimilação das substâncias nutritivas.
                                                                           <!--Caracteres invisíveis a esquerda-->
      <img src="assets/img/intestinoDel2.jpg">
                                                  <!--Caracteres invisíveis a esquerda-->
      <ion-title>Duodeno</ion-title>
      É a parte mais larga e mais extensa do intestino delgado. Nele são lançadas as secreções do fígado e do pâncreas.
Nessa primeira porção do intestino delgado é realizada principalmente a digestão química, com a ação conjunta da bile, do suco pancreático e do suco entérico ou intestinal, atuando sobre o quimo (suco alimentar) que vem do estômago.
Ao término do processo digestório, o conjunto de substâncias resultantes forma um líquido viscoso de cor branca chamado quilo.

      <ion-title>Jejuno e íleo</ion-title>
      Ao longo dessas duas regiões a digestão continua e grande parte dos nutrientes é absorvida pelo sangue.
                                                <!--Caracteres invisíveis a esquerda-->
      <ion-title>Secreções Atuantes</ion-title>
                                                <!--Caracteres invisíveis a esquerda-->
      <ion-title>Bile</ion-title>
Secreção do fígado armazenada na vesícula biliar. Ela é lançada ao duodeno através de um canal e não contém enzimas digestivas, mas os sais biliares que emulsionam as gorduras em partículas microscópicas, funcionando de modo semelhante a um detergente.
A ação dos sais biliares facilita o trabalho das enzimas pancreáticas sobre os lipídios;
      <ion-title>Suco pancreático</ion-title>
      É produzido pelo pâncreas. Possui várias enzimas que atuam na digestão das proteínas, dos carboidratos e dos lipídios;
      <ion-title>Suco entérico</ion-title>
      É produzido pela mucosa intestinal. Possui enzimas que atuam na transformação das proteínas, dos carboidratos, entre outras substâncias.
Conheça mais sobre os Órgãos do corpo humano.
    </ion-card-content>
  </ion-card>
</ion-content>
