<ion-header>

    <ion-toolbar color="light">
        <ion-title color="success" slot="end">{{totalPontos}} BioPontos</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>
    <h3>{{questao.enunciado}}</h3>
  <!--   <h5>A correta é a {{questao.alternativaCorreta}}</h5> -->
    <div class="boxImg">
        <img style="width: 100%" *ngIf="questao.imagem && questao.imagem.trim().toUpperCase() != 'SEM'" [src]="questao.imagem.includes('gif')?'assets/imagens/questoes/'+questao.imagem+'.gif':'assets/imagens/questoes/'+questao.imagem+'.png'" />
    </div>
    <br />
    <span *ngFor="let alter of alternativas">

        <button style="margin: 5px;border-radius: 10px" *ngIf="alter.texto != undefined"
            (click)="marcarAlteranativa(alter)" [ngStyle]="{'background-color': alter.corBorda}" class="botaoPares">
            <h5 style="text-align: justify">{{alter.texto}}</h5>
        </button>

    </span>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="success" expand="block" (click)="verificar()">
            <ion-icon name="checkmark-done-outline"></ion-icon>&nbsp;&nbsp;Verificar
        </ion-button>
    </ion-toolbar>
</ion-footer>