<ion-header>

  <ion-toolbar color="light">
      <ion-title color="success" slot="end">{{totalPontos}} BioPontos</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <h3>{{questao.enunciado}}</h3>
  <h5>A correta é a {{questao.alternativaCorreta}}</h5>
  <img style="width: 100%" *ngIf="questao.imagem != ''" [src]="questao.imagem" />
  <br/>
  <span *ngFor="let alter of alternativas">
  <ul>
  <button  *ngIf="alter.texto != undefined" (click)="marcarAlteranativa(alter)" [ngStyle]="{'background-color': alter.corBorda}" class="botaoPares"><h5 style="text-align: justify">{{alter.texto}}</h5></button>
  </ul>
</span>

</ion-content>
<ion-footer>
  <ion-toolbar>
      <button ion-button (click)="verificar()" style="width: 100%">Verificar</button>
  </ion-toolbar>
</ion-footer>