<ion-header>
  <ion-toolbar>
    <ion-title>Boca</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Início da digestão</ion-card-title>
    <img src="assets/img/boca.jpg">
    </ion-card-header>
    <ion-card-content>
      A boca é o local onde a digestão começa. Nossos dentes promovem a digestão mecânica, garantindo que o alimento seja rasgado, amassado e triturado. Além da atuação dos dentes, o alimento na boca sofre a ação da saliva, a qual é secretada pelas glândulas salivares. A saliva contém a enzima amilase, também conhecida por ptialina, que promove o início da digestão dos carboidratos.
A língua também é importante nessa etapa, garantindo que o alimento se misture à saliva e forme o chamado bolo alimentar. É a língua também que ajuda na deglutição do bolo alimentar, empurrando-o em direção à faringe.                                                                                                                                  <!--caracter invisível á esquerca-->
      <!--A linha de cima possue até o final, caracteres invisíveis-->
    <ion-card-title>Saliva</ion-card-title>
    <img src="assets/img/saliva.jpg">
    A saliva é composta por água e diversos componentes que iniciam a digestão e protegem o trato respiratório e digestório contra vírus e bactérias. saliva, um líquido produzido por três pares de glândulas salivares: as parótidas, as submandibulares e as sublinguais.

    A saliva tem como função lubrificar e diluir o alimento (facilitando a mastigação, a gustação e a deglutição), além de proteger contra bactérias e umedecer a boca. A saliva é composta por ar (por isso o aspecto espumoso), água (99,5%), ptialina, nitrogênio, enxofre, potássio, sódio, cloro, cálcio, magnésio, ácido úrico e ácido cítrico. Possui também proteínas enzimáticas, estruturais e imunológicas.

    A saliva humana contém uma substância chamada de imunoglobulina secretória A (IgA), que tem a função de proteger o organismo contra vírus que invadem o trato respiratório e digestivo. A saliva também possui um efeito microbiano, que controla o crescimento de bactérias, por isso, quando não há saliva, há maiores chances de aparecerem cáries dentárias. Alterações na quantidade de saliva também podem causar halitose.

    Uma das enzimas presentes em nossa saliva é a amilase salivar, também conhecida como ptialina, que inicia a digestão do amido e do glicogênio, quebrando-os em maltose. A ptialina age no pH neutro da boca, mas é inibida ao chegar no estômago, por causa da acidez do suco gástrico.                                                                        <!--caracter invisível-->
    <ion-card-title>Curiosidades</ion-card-title>                                                                        <!--caracteres invisíveis-->
    Uma pessoa adulta produz cerca de 1 a 2 litros de saliva por dia e ao ingerir algum alimento, a quantidade de saliva secretada aumenta. Ficamos com “água na boca” porque o nosso sistema nervoso estimula a produção de saliva pelas glândulas salivares quando sentimos o cheiro ou o sabor de algum alimento.
    A xerostomia é uma alteração na quantidade de saliva na boca. Pode ser causada pela ingestão de alguns medicamentos, idade avançada (com o envelhecimento, as glândulas salivares vão se atrofiando), câncer na região da cabeça e pescoço, diabetes, entre outros. Com baixa quantidade de saliva, os riscos de se ter doenças periodontais, saburra na língua e mau hálito são maiores. Isso também impede a mastigação adequada dos alimentos, fazendo com que a pessoa mude a consistência dos alimentos que ingere, podendo causar problemas digestivos.
    </ion-card-content>
  </ion-card>
</ion-content>
